@font-face {
    font-family: 'Arimo';
    src: url('@/shared/assets/fonts/Arimo/Arimo-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('@/shared/assets/fonts/Arimo/Arimo-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('@/shared/assets/fonts/Arimo/Arimo-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}