@import "tailwindcss";

@theme {

    --color-bg: #111f28;
    --color-primary:#fff;
    --color-secondary:#111f28;
    --color-black-o: rgba(0, 0, 0, 0.44);
    --color-error: #ee0101;
    --color-success: #0fce0f;

    --font-arimo: "Arimo", sans-serif;
}


body {
    @apply font-arimo bg-bg text-primary text-[14px]  md:text-[16px];
}


h3 {
    @apply text-[24px] md:text-[36px] font-bold;
}